<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>과정형 평가 1번</title>
  <script th:replace="~{fragment/scripts :: scriptFragment}"></script>
  <script th:replace="~{fragment/css :: cssFragment}"></script>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/salesInquiry.css}">
</head>
<body>
<div th:replace="~{fragment/header :: headerFragment}"></div>
<div th:replace="~{fragment/progress-bar :: progressBarFragment}"></div>
<div class="container">
  <div th:replace="~{fragment/menu :: menuFragment}"></div>
  <main>
    <h2>회원 매출 조회</h2>
    <div class="action-bar">
      <p></p>
      <div class="action-buttons">

      </div>
    </div>
    <table class="table-container">
      <thead>
      <tr>
        <th style="width: 10%;">순번</th>
        <th style="width: 20%;">아이디</th>
        <th style="width: 10%;">이름</th>
        <th style="width: 30%;">사용자 등급</th>
        <th style="width: 30%;">총 매출</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>admin1</td>
        <td>이상주</td>
        <td>관리자</td>
        <td>30000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>admin2</td>
        <td>이준하</td>
        <td>관리자</td>
        <td>20000</td>
      </tr>
      <tr>
        <td>3</td>
        <td>admin3</td>
        <td>장성일</td>
        <td>중간 관리자</td>
        <td>15000</td>
      </tr>
      <tr>
        <td>4</td>
        <td>admin4</td>
        <td>박종훈</td>
        <td>중간 관리자</td>
        <td>14000</td>
      </tr>
      <tr>
        <td>5</td>
        <td>admin5</td>
        <td>조현환</td>
        <td>일반 사용자</td>
        <td>12000</td>
      </tr>
      <tr>
        <td>6</td>
        <td>admin6</td>
        <td>김형재</td>
        <td>일반 사용자</td>
        <td>10000</td>
      </tr>
      <tr>
        <td>7</td>
        <td>admin7</td>
        <td>김승현</td>
        <td>일반 사용자</td>
        <td>7000</td>
      </tr>
      <tr>
        <td>8</td>
        <td>admin8</td>
        <td>노지원</td>
        <td>일반 사용자</td>
        <td>6000</td>
      </tr>
      <tr>
        <td>9</td>
        <td>admin9</td>
        <td>성준규</td>
        <td>일반 사용자</td>
        <td>5000</td>
      </tr>
      <tr>
        <td>10</td>
        <td>admin10</td>
        <td>홍성수</td>
        <td>일반 사용자</td>
        <td>4000</td>
      </tr>
      <!--<tr>
        <td>11</td>
        <td>이재범</td>
        <td>일반 사용자</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>12</td>
        <td>남상욱</td>
        <td>일반 사용자</td>
        <td>500</td>
      </tr>-->
      </tbody>
    </table>
    <!--<div class="pagination">
      <button class="page-button">1</button>
      <button class="page-button">2</button>
      <button class="page-button">3</button>
    </div>-->
  </main>
</div>
<div th:replace="~{fragment/footer :: footerFragment}"></div>
</body>
</html>
