<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>과정형 평가 1번</title>
    <script th:replace="~{fragment/scripts :: scriptFragment}"></script>
    <script th:replace="~{fragment/css :: cssFragment}"></script>
</head>
<body>
<div th:replace="~{fragment/header :: headerFragment}"></div>
<div th:replace="~{fragment/progress-bar :: progressBarFragment}"></div>
<section>

</section>
<div th:replace="~{fragment/footer :: footerFragment}"></div>
</body>
</html>
