<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>과정형 평가 1번</title>
    <script th:replace="~{fragment/scripts :: scriptFragment}"></script>
    <script th:replace="~{fragment/css :: cssFragment}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/user.css}">
</head>
<body>
<div th:replace="~{fragment/header :: headerFragment}"></div>
<div th:replace="~{fragment/progress-bar :: progressBarFragment}"></div>
<div class="container">
    <div th:replace="~{fragment/menu :: menuFragment}"></div>
    <main>
        <h2>사용자 목록</h2>
        <div class="action-bar">
            <p><b>총 30건</b></p>
            <div class="search-bar">
                <select class="search-select" id="searchSelect" onchange="toggleInputs()">
                    <option value="아이디">아이디</option>
                    <option value="이름">이름</option>
                    <option value="전화번호">전화번호</option>
                    <option value="주소">주소</option>
                    <option value="가입일자">가입일자</option>
                    <option value="사용자 등급">사용자 등급</option>
                </select>
                <input type="text" id="searchInputs" class="search-input" placeholder="검색어를 입력하세요">
                <div id="dateInputs" style="display: none;">
                    <input type="date" class="date-input" placeholder="시작 날짜">
                    <span class="date-separator">~</span>
                    <input type="date" class="date-input" placeholder="끝 날짜">
                </div>
                <div id="gradeInputs" style="display: none;">
                    <select class="grade-select">
                        <option value="일반 사용자">일반 사용자</option>
                        <option value="중간 관리자">중간 관리자</option>
                        <option value="관리자">관리자</option>
                    </select>
                </div>
                <button class="list-search-button">검색</button>
            </div>
            <div class="action-buttons">
                <button class="register-button">등록</button>
                <button class="delete-button">삭제</button>
            </div>
        </div>
        <table class="table-container">
            <thead>
            <tr>
                <th class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></th>
                <th>순번</th>
                <th>아이디</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
                <th>가입일자</th>
                <th>사용자 등급</th>
                <th>잠김 여부</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>30</td>
                <td>admin</td>
                <td>이상주</td>
                <td>010-1234-5678</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-29 14:45:30</td>
                <td>관리자</td>
                <td></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>29</td>
                <td>user29</td>
                <td>이준하</td>
                <td>010-1234-5677</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-28 14:45:30</td>
                <td>관리자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>28</td>
                <td>user28</td>
                <td>장성일</td>
                <td>010-1234-5676</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-27 14:45:30</td>
                <td>중간 관리자</td>
                <td></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>27</td>
                <td>user27</td>
                <td>박종훈</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-26 14:45:30</td>
                <td>중간 관리자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>26</td>
                <td>user26</td>
                <td>조현환</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-25 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>25</td>
                <td>user25</td>
                <td>김형재</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-24 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>24</td>
                <td>user24</td>
                <td>김승현</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-23 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>23</td>
                <td>user23</td>
                <td>노지원</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-22 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>22</td>
                <td>user22</td>
                <td>성준규</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-21 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>21</td>
                <td>user21</td>
                <td>홍성수</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-20 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <!--<tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>20</td>
                <td>user20</td>
                <td>이재범</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-19 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>19</td>
                <td>user19</td>
                <td>남상욱</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-28 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;">✔</lock></td>
            </tr>
            <tr>
                <td class="checkbox-center" onclick="event.cancelBubble=true"><input type="checkbox"></td>
                <td>18</td>
                <td>user18</td>
                <td>김소영</td>
                <td>010-1234-5675</td>
                <td>서울 영등포구 영등포로 33 목동비즈타워 608호</td>
                <td>2024-09-17 14:45:30</td>
                <td>일반 사용자</td>
                <td onclick="event.cancelBubble=true"><lock th:onclick="unlocked()" style="cursor: pointer;"></lock></td>
            </tr>-->
            </tbody>
        </table>
        <div class="pagination">
            <button class="page-button">1</button>
            <button class="page-button">2</button>
            <button class="page-button">3</button>
        </div>
    </main>
</div>

<!-- Modal Structure -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2 id="modal-title">사용자 등록</h2>
        <div class="form-group">
            <div class="modal-user-info">
                <img th:src="@{/image/default.png}" class="modal-profile-pic" alt="Profile Picture" id="modal-profile-pic"/>
                <div class="dropdown-menu" id="modal-dropdown-menu">
                    <ul>
                        <li><a href="#" id="profile-button">프로필 업로드</a></li>
                        <li><a href="#" onclick="document.getElementById('modal-profile-pic').src = '/image/default.png';">제거</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group" id="id-form">
            <label for="user-id">아이디</label>
            <input type="text" id="user-id">
        </div>

        <div class="form-group">
            <label for="username">이름</label>
            <input type="text" id="username">
        </div>

        <div class="form-group">
            <label for="phone">전화번호</label>
            <input type="text" id="phone">
        </div>

        <div class="form-group">
            <label for="address">주소</label>
            <div class="address-group">
                <div class="address-top">
                    <input type="text" id="address" placeholder="우편번호" disabled>
                    <button class="search-button">검색</button>
                </div>
                <input type="text" id="additional-info" disabled>
                <input type="text" id="detail-info" placeholder="상세주소를 입력해주세요.">
            </div>
        </div>

        <div class="form-group">
            <label for="role">사용자 등급</label>
            <select id="role">
                <option value="A">관리자</option>
                <option value="B">중간 관리자</option>
                <option value="C">일반 사용자</option>
            </select>
        </div>

        <div class="button-group">
            <button class="primary" id="modalButton" onclick="userAdd()">등록</button>
            <button class="delete-button" id="modalDeleteButton">삭제</button>
            <button class="secondary close-button" id="modalCancelButton">취소</button>
        </div>
    </div>
</div>
<div th:replace="~{fragment/footer :: footerFragment}"></div>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        // 모달 요소 가져오기
        let modal = document.getElementById("modal");

        // 모달 열기 버튼 가져오기
        let registerButton = document.querySelector(".register-button");

        // 닫기 버튼 가져오기
        let closeButton = document.querySelectorAll(".close-button");

        // 모달 열기
        registerButton.addEventListener("click", openDetailModal);

        // 모달 닫기
        closeButton.forEach(function (btn) {
            btn.addEventListener("click", function() {
                modal.style.display = "none";
            });
        });

        // 모달 외부 클릭 시 닫히지 않도록 설정
        window.addEventListener("click", function(event) {
            if (event.target === modal) {
                event.stopPropagation();
            }
        });

        // Function to open the post detail modal
        function openDetailModal(postData) {

            modal.style.display = "block";

            if (postData.username) {
                document.getElementById("id-form").style.display = "none";
                document.getElementById("modal-title").innerText = postData.userId;
                document.getElementById("modalButton").innerText = '수정';
                document.getElementById("modalDeleteButton").style.display = "";
                document.getElementById("modalCancelButton").style.display = "none";

                if (postData.userId === 'admin') {
                    document.getElementById('modal-profile-pic').src = '/image/profile1.png';
                } else if (postData.userId === 'user29') {
                    document.getElementById('modal-profile-pic').src = '/image/profile2.png';
                } else {
                    document.getElementById('modal-profile-pic').src = '/image/default.png';
                }
                document.getElementById('username').value = postData.username;
                document.getElementById('phone').value = postData.phone;
                document.getElementById('address').value = postData.additionalInfo;
                document.getElementById('additional-info').value = postData.address;
                document.getElementById('role').value = postData.role;
                document.getElementById('modalButton').onclick = userAdd;
                return;
            }

            document.getElementById("modal-title").innerText = "사용자 등록";
            document.getElementById("id-form").style.display = "";
            document.getElementById("modalButton").innerText = '등록';
            document.getElementById("modalDeleteButton").style.display = "none";
            document.getElementById("modalCancelButton").style.display = "";

            document.getElementById('username').value = '';
            document.getElementById('phone').value = '';
            document.getElementById('address').value = '';
            document.getElementById('additional-info').value = '';
            document.getElementById('role').value = 'A';
            document.getElementById('modalButton').onclick = userUpdate;


        }

        const tableRows = document.querySelectorAll('table tbody tr');


        // Loop through each row and attach a click event listener
        tableRows.forEach(function(row) {
            row.addEventListener('click', function boardDetail() {
                // For testing: Open the modal with some sample data
                openDetailModal({
                    userId: row.children[2].innerText,
                    username: row.children[3].innerText,
                    phone: row.children[4].innerText,
                    address: row.children[5].innerText,
                    additionalInfo: '23232',
                    role: row.children[7].innerText == '관리자'?'A':row.children[7].innerText == '중간 관리자'?'B':'C',
                });
            });
        });

        const modalProfilePic = document.getElementById('modal-profile-pic');
        const modalDropdownMenu = document.getElementById('modal-dropdown-menu');
        const profileButton = document.getElementById('profile-button');
        const fileInput = document.getElementById('file-input');

        // 프로필 이미지 클릭 시 드롭다운 메뉴 토글
        modalProfilePic.addEventListener('click', function() {
            modalDropdownMenu.style.display = modalDropdownMenu.style.display === 'none' || modalDropdownMenu.style.display === ''
                ? 'block'
                : 'none';
        });

// 메뉴 이외의 영역 클릭 시 드롭다운 닫기
        document.addEventListener('click', function(event) {
            if (!modalProfilePic.contains(event.target) && !modalDropdownMenu.contains(event.target)) {
                modalDropdownMenu.style.display = 'none';
            }
        });

        profileButton.addEventListener('click', function() {
            fileInput.click();  // 파일 선택 창 열기
        });

        // 파일 선택 시 새로운 프로필 이미지 미리보기 설정
        fileInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('modal-profile-pic').src = e.target.result;  // 모달의 이미지 변경
                };
                reader.readAsDataURL(file);  // 선택한 파일 읽기
            }
        });


    });

    function toggleInputs() {
        const searchSelect = document.getElementById('searchSelect');
        const searchInputs = document.getElementById('searchInputs');
        const dateInputs = document.getElementById('dateInputs');
        const gradeInputs = document.getElementById('gradeInputs');

        if (searchSelect.value === '가입일자') {
            searchInputs.style.display = 'none'; // 검색어 입력 숨기기
            dateInputs.style.display = 'flex'; // 날짜 입력 보이기
            gradeInputs.style.display = 'none'; // 등급 입력 숨기기
        } else if (searchSelect.value === '사용자 등급') {
            searchInputs.style.display = 'none'; // 검색어 입력 숨기기
            dateInputs.style.display = 'none'; // 날짜 입력 숨기기
            gradeInputs.style.display = 'flex'; // 등급 입력 보이기
        } else {
            searchInputs.style.display = 'flex'; // 검색어 입력 보이기
            dateInputs.style.display = 'none'; // 날짜 입력 숨기기
            gradeInputs.style.display = 'none'; // 등급 입력 숨기기
        }
    }

    function unlocked(){
        if(confirm("해당 계정 잠금을 해제하시겠습니까?")){
            alert("잠금이 정상적으로 해제되었습니다.");
        }
    }

    function userAdd() {
        if(confirm("등록하시겠습니까?")){
            alert("정상적으로 등록되었습니다.");
        }
    }

    function userUpdate() {
        if(confirm("수정하시겠습니까?")){
            alert("정상적으로 수정되었습니다.");
        }
    }

</script>
</body>
</html>