<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>과정형 평가 1번</title>
    <meta charset="utf-8">
    <script th:src="@{/js/login.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <script th:replace="~{fragment/scripts :: scriptFragment}"></script>
    <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon">
</head>
<body>
<section>
    <div th:replace="~{fragment/progress-bar :: progressBarFragment}"></div>
    <div style="border: 2px solid #3b5998;;
        text-align: center;
        margin-bottom: 5%;">
        <h3>과정형평가 1번 문제</h3>
        <h3>노지원</h3></div>
    <div class="login-form">
        <input type="text" id="userId" name="userId" class="text-field" placeholder="ID">
        <input type="password" id="password" name="password" class="text-field" placeholder="Password">
        <br><br>
        <input style="cursor: pointer;" id="loginBtn" type="button" value="Login" class="submit-btn" onclick="loginCheck()">
    </div>
    <div th:replace="~{fragment/footer :: footerFragment}"></div>
</section>
</body>
</html>